@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('/Montserrat-Medium.otf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  src: url('/Montserrat-BlackItalic.otf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url('/Montserrat-Bold.otf');
}